*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/release/app-release.apk
app/release/businesscard.apk
app/release/output.json
app/release/NFC名片.apk
app/release/NFC名片王.apk
